<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resource Material Classes</title>
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap">
        <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click="showCheckout" v-bind:disabled="cartCount == 0 ? true : false"> 
            {{ cartCount }}
                <span class="fa-solid fa-cart-shopping"></span>
                Checkout
            </button>
            <p>Cart items: <span v-text="cartCount"></span></p>
            <!-- <p v-if="cart.length">Cart contents: <span v-text="cart.join(', ')"></span></p> -->
        </header>
        <!-- start sort controls -->
         <div class="sort-bar" v-if="showLessons">
            <strong>Sort by:</strong>
            <select v-model="sortBy">
                <option value="subject">Subject</option>
                <option value="location">Location</option>
                <option value="price">Price</option>
                <option value="Stock">Stock</option>
            </select>
            <input type="radio" id="ascending" value="ascending" v-model="sortOrder">
            <label for="ascending">Ascending</label>
            <input type="radio" id="descending" value="descending" v-model="sortOrder">
            <label for="descending">Descending</label>
        </div>
        <main v-if="showLessons" class="lesson-list">
            <div v-for="lesson in sortedLessons" v-bind:key="lesson.id" class="lesson-card">
                <figure>
                    <img v-bind:src="lesson.image" v-bind:alt="lesson.subject">
                </figure>
                <h2 v-text="lesson.subject"></h2>
                <p class="lesson-description" v-text="lesson.description"></p>
                <p class="lesson-location" v-text="'Location: ' + lesson.location"></p>
                <p class="lesson-price" v-text="'Price: $' + lesson.price"></p>
                <p class="lesson-stock" v-text="'Stock: ' + lesson.Stock"></p>
                <button v-if="canAddToCart(lesson)" v-on:click="addToCart(lesson)">Add to Cart</button>
                <button v-else disabled>Add to Cart</button>
            </div>
        </main>
        <main v-else class="checkout-page">
                <h2>Checkout</h2>
                <div v-if="cartCount > 0">
                    <!-- <p v-for="lesson in cart" v-text="lesson.subject + ' - $' + lesson.price"></p> -->
                    <p v-for = "(lesson,index) in cart">
                        {{ lesson.subject }} - ${{ lesson.price }}
                        <button v-on:click="removed_FromCart(lesson,index)">Remove</button>
                    </p>
                    <p v-text="'Total items: ' + cartCount"></p>
                    <p v-text="'Total price: $' + cartTotal"></p>
                    <p><button v-on:click="checkout">Checkout</button></p>
                </div>
                <p v-else>Thank you for your purchase!</p>
                <button v-on:click="showCheckout">Continue Shopping</button>
        </main>
    </div>
    <script type="text/javascript">
        let webstore = new Vue({
            el: '#app', 
            data: {
                sitename: 'Resource Material Classes', 
                lessons: [
                    {
                        id: 1,
                        subject: 'Maths',
                        location: 'Hendon',
                        description: 'Algebra and geometry practice.',
                        price: 100,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 2,
                        subject: 'get better english',
                        location: 'London',
                        description: 'improve ur english skills',
                        price: 80,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 3,
                        subject: 'get better at coding',
                        location: 'Brent Cross',
                        description: 'improves ur coding skills',
                        price: 90,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 4,
                        subject: 'get more better at coding',
                        location: 'Golders Green',
                        description: 'still not enough to get better at coding',
                        price: 95,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 5,
                        subject: 'History',
                        location: 'Mill Hill',
                        description: 'learn about past events of sometihng',
                        price: 70,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 6,
                        subject: 'acting classes',
                        location: 'Edgware',
                        description: 'aura farm ur way thru',
                        price: 85,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 7,
                        subject: 'sample subject 7',
                        location: 'Hendon',
                        description: 'sample description',
                        price: 110,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 8,
                        subject: 'sample subject 8',
                        location: 'Colindale',
                        description: 'sample description',
                        price: 60,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 9,
                        subject: 'sample subject 9',
                        location: 'Finchley',
                        description: 'sample description',
                        price: 75,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    },
                    {
                        id: 10,
                        subject: 'sample subject 10',
                        location: 'Wembley',
                        description: 'sample subjects',
                        price: 120,
                        image: 'Images/TemplateHolder.jpeg',
                        Stock: 5
                    }
                ],
                sortBy: 'subject',
                sortOrder: 'ascending',
                cart: [],
                showLessons: true
            },
            computed: {
                cartCount: function() {
                    return this.cart.length;
                },
                cartTotal: function() {
                    let total = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        total += this.cart[i].price;
                    }
                    return total;
                },
                sortedLessons: function() {
                    let attribute = this.sortBy;
                    let has_sorted = this.lessons.slice();
                    has_sorted.sort(function(a, b) {
                        if (a[attribute] < b[attribute]) return -1;
                        if (a[attribute] > b[attribute]) return 1;
                    });
                    if (this.sortOrder === 'descending') {
                        has_sorted.reverse();
                    }
                    return has_sorted;
                }

            },
            methods: {
                addToCart: function(lesson) {
                    if (this.canAddToCart(lesson)) {
                        this.cart.push(lesson);
                        lesson.Stock -= 1;
                    }
                },
                removed_FromCart: function(lesson, index) {
                    lesson.Stock += 1;
                    this.cart.splice(index, 1);
                    if (this.cart.length === 0) {
                        this.showLessons = true;
                    }
                },
                checkout: function() {
                    this.cart = [];
                },
                canAddToCart: function(lesson) {
                    return lesson.Stock > 0;
                },
                showCheckout() {
                    this.showLessons = this.showLessons ? false : true;
                }
            }
        });
    </script>
</body>
</html>
